 .root {
	-fx-base: rgb(45, 45, 46);
	-fx-background: rgb(45, 45, 46);
	-fx-light-text-color: rgb(220, 220, 220);
}

/* Buttons */
.button {
	-fx-background-radius: 0;
	-fx-background-color: rgb(55, 55, 61);
	-fx-background-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: rgb(75, 75, 75);
}
.button:hover {
	-fx-background-color: rgb(80, 80, 85);
	-fx-border-color: rgb(0, 122, 205);
}
.button:pressed {
	-fx-background-color: rgb(0, 122, 205);
	-fx-border-color: rgb(0, 162, 245);
}
.exitButton {
	-fx-background-color: rgb(45, 45, 46);
	-fx-border-width: 0;
	-fx-background-image: url(../images/close.png);
	-fx-background-size: 10px 10px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.minimizeButton {
	-fx-background-color: rgb(45, 45, 46);
	-fx-border-width: 0;
	-fx-background-image: url(../images/minimize.png);
	-fx-background-size: 10px 10px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.exitButton:hover, .minimizeButton:hover {
	-fx-background-color: #F75590;
}

/* Boxes */
.infoBox {
	-fx-background-color: Derive(-fx-background, 2%)
}